:root {
    --primary-color: #264064;
    --font-color-three: #C9D6DF;
    --secondary-color: #f0f5f9;
    --theme-three: #3AC7F5;
    --font-small-13: 0.54em;
    /**13px**/
    --font-small-8: 0.33em;
    /**8px**/
    --font-small-10: 0.41em;
    /**10px**/
    --font-small-14: 0.58em;
    /**14px**/
    --font-small-16: 0.6em;
    /**16px**/
    --font-small-18: 0.75em;
    /**18px**/
    --font-small-24: 1em;
    /**24px**/
    --font-small-20: 0.83em;
    /**20px**/
    --font-title: 2.6em;
    /**64px**/
    --font-title-3: 1.5em;
    /**36px**/
    --font-title-2: 2em;
    /**48px**/
    --btn-shadow-color: rgba(2, 43, 105, 0.08);
}

.navbar {
    background-color: white !important;
    padding-bottom: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07) !important;
    z-index: 99999;
}

body {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

.nav-item {
    margin-right: 20px !important;
}

.nav-link.active {
    border-radius: 3px;
    background-color: var(--primary-color) !important;
    color: white !important;
}

.title {
    font-size: var(--font-title-2);
    color: var(--primary-color);
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* line-height: 68px; */
    /* or 107% */
    /* letter-spacing: 0.7px; */
    /* text-transform: capitalize; */
}

.subtitle {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* line-height: 27px; */
    font-size: var(--font-small-20);
    /* or 113% */
    /* font-variant: small-caps; */
    color: var(--primary-color);
}

/* navbar */

.navbar {
    min-height: 89px;
}

.navbar-toggler {
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 20px;
    border: 2px solid !important;
    margin-top: 1rem!important;
}

.navbar-brand {
    position: absolute;
    width: 187.8px;
    height: 42.68px;
    left: 121px;
    top: 17px;
}

.navbar-collapse {
    position: absolute;
    width: 53px;
    height: 36px;
    left: 364px;
    top: 26px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-small-16);
    line-height: 27px;
    /* or 170% */
    /* font-variant: small-caps; */
}

.logo-sub {
    position: absolute;
    width: 117.8px;
    height: 34.15px;
    left: 81.24px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    /* or 250% */
    /* font-variant: small-caps; */
    color: #ABABAB;
}

.nav-link, .dropdown-item {
    font-size: var(--font-small-24);
    color: var(--primary-color) !important;
}

.dropdown-item {
    padding: 1px 12px !important;
    font-weight: 200;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.footer {
    padding: 30px 0px;
    background-color: var(--secondary-color);
    min-height: 199px;
}

.footer .title {
    font-size: var(--font-small-16) !important;
    line-height: 27px !important;
}

.footer .navbar-brand>img {
    /* width: 100px */
}

.footer a {
    font-size: var(--font-small-13);
    line-height: 27px !important;
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    font-weight: normal;
}

.footer p {
    margin-bottom: 0.1rem;
}

.lh {
    line-height: 33px;
}

@media only screen and (max-width: 992px) {
    label {
        font-size: 36px !important;
        color: var(--primary-color);
        font-weight: 100;
    }
    .footer .logo-sub {
        font-size: var(--font-small-20);
        left: 54.24px;
        top: 79px;
    }
    .seven .testimonial, .seven a, .seven span {
        font-size: 34px !important;
    }
    .seven .testimonial:before {
        top: -6% !important;
        font-size: 134px !important;
        left: 43px !important;
    }
    .seven .testimonial:after {
        font-size: 54px !important;
    }
    /* menu list for mobile devices */
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0px;
        padding: 20px;
        top: 86px;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 27px;
        /* or 170% */
        font-variant: small-caps;
        height: inherit !important;
        /* border: 1px solid var(--primary-color); */
        z-index: 1;
        background-color: #fff;
        box-shadow: 1px 1px 30px var(--secondary-color);
    }
    .spacer {
        height: 100px;
    }
    .footer p {
        text-align: center !important;
        margin-bottom: 1rem;
    }
    .footer .navbar-brand {
        left: 38% !important;
    }
    .side-1 {
        padding-right: 100px !important;
        padding-left: 100px !important
    }
    .five .indexImg {
        max-width: 453px;
        min-width: 453px
    }
    .b-card .body>p, .b-card .body>b {
        font-size: var(--font-small-24) !important;
    }
    .footer a, .footer .title {
        font-size: 1.3em !important;
    }
    .nav-link, .dropdown-item {
        font-size: 2.3rem !important;
        line-height: 2em;
        font-weight: bold;
    }
    .btn-primary {
        font-size: var(--font-small-14) !important;
    }
    #passwordHelpBlock {
        font-size: var(--font-small-14) !important;
    }
    .details {
        font-size: 34px;
    }
    .details input {
        font-size: 34px !important;
    }
    .details select {
        font-size: 29px !important;
    }
    .btn-primary, .btn-primary-outline {
        font-size: 28px !important;
    }
    .spacer {
        width: 0px !important
    }
    .footer p.social a>img {
        margin-top: 20px;
        width: 40px;
    }
    .logo {
        min-height: 74px;
    }
    .navbar {
        min-height: 129px;
    }
    .logo-sub {
        top: 79px;
        font-size: 30px;
    }
    /* terms and conditions */
    .terms {
        font-size: inherit !important;
        line-height: inherit !important;
    }
}

#passwordHelpBlocks {
    font-size: var(--font-small-16);
}

.form-control {
    border: none;
}

.form-control:focus {
    outline: none !important;
}

.btn-primary {
    padding: 9px 20px;
    font-size: 13px;
    background: var(--primary-color);
    box-shadow: 0px 2px 4px var(--border-shadow-color);
    border-radius: 5px;
    border-color: var(--primary-color);
    font-family: 'PT Sans', sans-serif;
}

.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: transparent;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 2px 4px var(--border-shadow-color) !important;
    border-radius: 5px;
    color: var(--primary-color);
}

.btn-primary-outline {
    font-size: 13px;
    padding: 9px 20px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 2px 4px var(--border-shadow-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-family: 'PT Sans', sans-serif;
}

.btn-primary-outline:hover, .btn-primary-outline.focus, .btn-primary-outline:focus, .btn-primary-outline:not(:disabled):not(.disabled).active, .btn-primary-outline:not(:disabled):not(.disabled):active, .show>.btn-primary-outline.dropdown-toggle {
    background: var(--primary-color);
    box-shadow: 0px 2px 4px var(--border-shadow-color) !important;
    border-radius: 5px;
    color: white;
}

.btn-primary-outline-invert {
    font-size: var(--font-small-10);
    padding: 9px 30px;
    border: 1px solid white;
    box-shadow: 0px 2px 4px var(--border-shadow-color);
    border-radius: 5px;
    color: white !important;
    font-family: 'PT Sans', sans-serif;
}

.btn-primary-outline-invert:hover, .btn-primary-outline-invert.focus, .btn-primary-outline-invert:focus, .btn-primary-outline-invert:not(:disabled):not(.disabled).active, .btn-primary-outline-invert:not(:disabled):not(.disabled):active, .show>.btn-primary-outline-invert.dropdown-toggle {
    background: white;
    box-shadow: 0px 2px 4px var(--border-shadow-color) !important;
    border-radius: 5px;
    color: var(--primary-color) !important;
}

.b-card {
    width: 357px;
    min-height: 238px;
    background: #FFFFFF;
    border-radius: 10px;
}

.side-1 .b-card3 {
    padding: 30px 60px;
    /* max-height: 310px ; */
}

.b-card3 {
    /* min-height: 310px; */
    background: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    /* padding: 20px 1em; */
}

.five .b-card3 {
    background: white !important;
    display: grid;
    align-items: center;
}

.six {
    min-height: 382px;
    background-color: var(--theme-three);
}

.six .b-card3 {
    width: inherit !important;
    background: transparent !important;
    text-align: center;
}

.two {
    background-color: var(--secondary-color);
    min-height: 662px;
}

.last-card span {
    bottom: 33px;
    left: 20px;
}

.primary-color {
    color: var(--primary-color) !important;
}

hr {
    border: 2px solid #D7E1E4;
    z-index: 999999;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.center-vertical {
    position: relative;
    top: 38%;
    line-height: 57px;
    transform: translateY(-38%);
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
}

.center-vertical-28 {
    position: relative;
    top: 20%;
    /* line-height: 57px; */
    transform: translateY(-28%);
    -webkit-transform: translateY(-28%);
    -ms-transform: translateY(-28%);
}

/*******************
FOR SECTION
*******************/

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--primary-color);
    opacity: 1;
    /* Firefox */
    font-size: var(--font-small-20);
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-color);
    font-size: var(--font-small-20);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-color);
    font-size: var(--font-small-20);
}

label {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 100;
}

#passwordHelpBlock {
    font-size: var(--font-small-10);
}

form input, form select {
    border: 1px solid #fff !important;
    /* height: 45px !important; */
    color: var(--primary-color) !important;
}

select {
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(https://www.dailies.com/_Assets/img/arrow-down.svg) no-repeat right blue;
    -webkit-appearance: none;
    background-position-x: 95%;
    background-size: 23px;
}

.form-control option {
    font-size: var(--font-small-16);
}

.seven .testimonial {
    /* width: 644px; */
    font-size: 14px;
    line-height: 44px;
    font-style: normal;
    /* letter-spacing: 0.7px; */
    color: var(--primary-color);
}

.seven .testimonial:before {
    position: absolute;
    content: '"';
    font-size: 140px;
    color: #E5E5E5;
    font-family: 'Catamaran', sans-serif;
    transform-origin: 0 0;
    transform: rotate(180deg);
    top: -38%;
    left: 15%;
}

.t-except:before {
    top: -28% !important;
}

.seven .testimonial:after {
    /* content: close-quote; */
    font-size: 24px;
}

.seven a, .seven b, .seven span {
    font-size: 15px;
}

.seven .testimonial-small {
    font-size: var(--font-small-18);
    line-height: 27px;
    color: var(--primary-color)
}
/* terms and conditions */
.terms {
    list-style: lower-latin;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    line-height: 35px;
}

