.subscribe-section {
    /* width: 388px; */
    min-height: 346px;
    padding: 18px;
    background: #254064;
    border-radius: 3px;
}

.center-vertical {
    position: relative;
    top: 38%;
    line-height: 57px;
    transform: translateY(-38%);
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
}

.subscribe-section>h1 {
    position: relative;
    /* top: 38%; */
    line-height: 57px;
    /* transform: translateY(-38%);
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%); */
}

.subscribe-section>h4 {
    position: relative;
    /* top: 40%; */
    line-height: 40px;
    /* transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%); */
}

.subscribe-section>a {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-small-13);
    /* margin-left: 30%; */
    /* margin-right: auto; */
    position: relative;
    /* top: 43%;
    transform: translateY(-43%);
    -webkit-transform: translateY(-43%);
    -ms-transform: translateY(-43%); */
}

.blogBody {
    padding: 20px;
    font-size: 15px;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.blog, .blog2 {
    padding-bottom: 3em;
}

.blog2 {
    padding-top: 3em;
}

.blog .card-text, .blog2 .card-text, .blogCard .card-text {
    padding-top: 14px;
    padding-bottom: 14px;
    color: var(--primary-color);
    font-size: var(--font-small-16);
    height: 109px;
}

.blogCard a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    /* line-height: 24px; */
}

span.readTime {
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px;
    color: var(--primary-color);
    /* line-height: 24px; */
}

.blog2 .card {
    background-color: var(--secondary-color) !important;
}

.secondary-color {
    background-color: var(--secondary-color) !important;
}

.primary-color-bg {
    background-color: var(--primary-color) !important;
}

.last-card a {
    bottom: 33px;
    right: 20px;
}

.blogTitle {
    font-size: 40px;
}

.blogSubtitle {
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .blog .card-text, .blog2 .card-text, .blogCard .card-text {
        color: var(--primary-color);
        font-size: var(--font-title-3);
        height: 100%;
    }
    .blogCard a, span.readTime {
        font-size: 30px;
    }
    .blogBody {
        padding: 20px;
        font-size: 34px;
    }
}
.card-img-top{
    min-height: 246px;
}
.views, .ratings{
    width:40px;
    padding:8px;
    font-size: 1rem;
}
.pagination li {
    font-size: 14px !important;
    padding: 8px !important;
}

.pagination li a {
    color: var(--color-2) !important;
}
.paginator> p{
    font-size: 1rem;;
}
.pagination li.next, .pagination li.prev {
    border: 1px solid #ccc !important;
    margin-left: 8px;
    padding: 8px !important;
    width: 9%;
    text-align: center;
    font-size: 12px !important;
}

.pagination li.next>a {
    padding: 8px !important;
}
.views:after {
    position: absolute;
content: "\f06e";
font-size: 1em;

font: normal normal normal 14px/1 FontAwesome;;
height: 20px;
width: 20px;
padding-left:4px;
}
.ratings:after {
    position: absolute;
content: "\f005";
font-size: 1em;
color:orange;
font: normal normal normal 14px/1 FontAwesome;;
height: 20px;
width: 20px;
padding-left:4px;
}